USE [JERSEY SHOP]
GO
/****** Object:  Table [dbo].[Emp Sell Stats]    Script Date: 9/25/2025 10:52:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp Sell Stats](
	[Sell ID] [int] NOT NULL,
	[EmpName] [nvarchar](100) NOT NULL,
	[EmpID] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sell ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jersey]    Script Date: 9/25/2025 10:52:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Jersey](
	[JerseyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Team] [varchar](100) NOT NULL,
	[Size] [varchar](10) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JerseyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sell Info]    Script Date: 9/25/2025 10:52:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sell Info](
	[Sale ID] [int] IDENTITY(1,1) NOT NULL,
	[Product ID] [int] NOT NULL,
	[Customer Name] [nvarchar](100) NOT NULL,
	[Gmail] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Purchase Date] [date] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sale ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockRequests]    Script Date: 9/25/2025 10:52:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[JerseyID] [int] NOT NULL,
	[Size] [nvarchar](10) NOT NULL,
	[RequestedQty] [int] NOT NULL,
	[EmpID] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](200) NULL,
	[Status] [nvarchar](20) NOT NULL DEFAULT ('PENDING'),
	[CreatedAt] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/25/2025 10:52:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](10) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Age] [int] NULL,
	[Gmail] [varchar](100) NOT NULL,
	[Salary] [decimal](10, 2) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Emp Sell Stats] ([Sell ID], [EmpName], [EmpID], [Price]) VALUES (1, N'Alice Johnson', N'EMP-01', CAST(95.00 AS Decimal(10, 2)))
INSERT [dbo].[Emp Sell Stats] ([Sell ID], [EmpName], [EmpID], [Price]) VALUES (2, N'Alice Johnson', N'EMP-01', CAST(598.50 AS Decimal(10, 2)))
INSERT [dbo].[Emp Sell Stats] ([Sell ID], [EmpName], [EmpID], [Price]) VALUES (3, N'', N'', CAST(95.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Jersey] ON 

INSERT [dbo].[Jersey] ([JerseyID], [Name], [Team], [Size], [Price], [Stock Quantity]) VALUES (1, N'Real Madrid Home Jersey', N'Real Madrid', N'L', CAST(79.99 AS Decimal(10, 2)), 14)
INSERT [dbo].[Jersey] ([JerseyID], [Name], [Team], [Size], [Price], [Stock Quantity]) VALUES (2, N'Barcelona Away Jersey', N'Barcelona', N'M', CAST(85.50 AS Decimal(10, 2)), 4)
INSERT [dbo].[Jersey] ([JerseyID], [Name], [Team], [Size], [Price], [Stock Quantity]) VALUES (3, N'PSG Fan Edition Jersey', N'PSG', N'S', CAST(70.00 AS Decimal(10, 2)), 8)
SET IDENTITY_INSERT [dbo].[Jersey] OFF
SET IDENTITY_INSERT [dbo].[Sell Info] ON 

INSERT [dbo].[Sell Info] ([Sale ID], [Product ID], [Customer Name], [Gmail], [Quantity], [Purchase Date], [Price]) VALUES (1, 4, N'Rohan', N'rohahsa@gmail.com', 1, CAST(N'2025-09-20' AS Date), CAST(95.00 AS Decimal(10, 2)))
INSERT [dbo].[Sell Info] ([Sale ID], [Product ID], [Customer Name], [Gmail], [Quantity], [Purchase Date], [Price]) VALUES (3, 4, N'SIDDDIK', N'sadasdasd@gmaill.com', 1, CAST(N'2025-09-20' AS Date), CAST(95.00 AS Decimal(10, 2)))
INSERT [dbo].[Sell Info] ([Sale ID], [Product ID], [Customer Name], [Gmail], [Quantity], [Purchase Date], [Price]) VALUES (5, 4, N'NEWB', N'newb@gmail.com', 1, CAST(N'2025-09-23' AS Date), CAST(95.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Sell Info] OFF
SET IDENTITY_INSERT [dbo].[StockRequests] ON 

INSERT [dbo].[StockRequests] ([RequestID], [JerseyID], [Size], [RequestedQty], [EmpID], [Note], [Status], [CreatedAt]) VALUES (1, 2, N'M', 2, N'EMP-01', N'', N'PENDING', CAST(N'2025-09-22 14:51:00.7852664' AS DateTime2))
INSERT [dbo].[StockRequests] ([RequestID], [JerseyID], [Size], [RequestedQty], [EmpID], [Note], [Status], [CreatedAt]) VALUES (2, 4, N'XL', 5, N'EMP-01', N'', N'PENDING', CAST(N'2025-09-23 13:06:21.5570749' AS DateTime2))
INSERT [dbo].[StockRequests] ([RequestID], [JerseyID], [Size], [RequestedQty], [EmpID], [Note], [Status], [CreatedAt]) VALUES (3, 3, N'S', 12, N'EMP-01', N'', N'PENDING', CAST(N'2025-09-24 08:25:57.9552763' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StockRequests] OFF
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Age], [Gmail], [Salary], [PhoneNumber], [Role]) VALUES (N'ADM-01', N'Charlie Brown', N'securepass', 40, N'charlie.brown@example.com', CAST(65000.00 AS Decimal(10, 2)), N'01733333333', N'ADMIN')
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Age], [Gmail], [Salary], [PhoneNumber], [Role]) VALUES (N'EMP-01', N'WALID', N'pass123', 20, N'walid@gmail.com', CAST(45000.00 AS Decimal(10, 2)), N'0181818790', N'EMPLOYEE')
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Age], [Gmail], [Salary], [PhoneNumber], [Role]) VALUES (N'MAN-01', N'Bob Smith', N'mypassword', 35, N'bob.smith@example.com', CAST(55000.00 AS Decimal(10, 2)), N'01722222222', N'MANAGER')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__85FB4E383E237C66]    Script Date: 9/25/2025 10:52:05 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__B488B103384B2FD8]    Script Date: 9/25/2025 10:52:05 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Gmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Age]>=(18)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='EMPLOYEE' OR [Role]='MANAGER' OR [Role]='ADMIN'))
GO
